* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.container {
  width: 640px;
  margin: auto;
}

.header {
  height: 40px;
  padding: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

p {
  margin: 0px 0px 15px 0px;
}

#card {
  padding: 20px;
  border-bottom: 2px solid gray;
}

button {
  margin: 15px 0px 0px 0px;
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  background: #c3c3c3;
  outline: none;
}